html{
	background-color:#fefefe
	}
body{
	font-family:Open Sans,Arial;
	color:#454545;
	font-size:16px;
	margin:2em auto;	
	max-width:800px;
	padding:1em;
	line-height:1.4;
	text-align:justify
	}
h1{
	text-align: center;
	color: red;
	display: block;
  	font-size: 2em;
  	margin-top: 0.67em;
  	margin-bottom: 0.67em;
  	margin-left: 0;
  	margin-right: 0;
  	font-weight: bold;
}
h2 {
  	display: block;
  	font-size: 1.5em;
  	margin-top: 0.83em;
  	margin-bottom: 0.83em;
  	margin-left: 0;
  	margin-right: 0;
  	font-weight: bold;
  	text-decoration: underline;
}
h3 {
	color:blue;
  	display: block;
  	margin-top: 0.83em;
  	margin-bottom: 0.83em;
  	margin-left: 0;
  	margin-right: 0;
  	font-weight: bold;
}